@import '../../index.scss';

.navigation{
    background:$mainBlack;
}
.navbar{
    width: 70vw;
    margin:auto;
    background:$mainBlack;
    display: grid;
    padding:0.5rem 1rem;
    grid-template-columns: auto 1fr;
}

.nav-links{
    list-style-type: none;
    display: grid;
    justify-content: end;
    align-content: center;
    grid-auto-flow: column;
    grid-gap:1rem;
}

.nav-link{
   text-decoration: none;
   text-transform: capitalize;
   color: honeydew;
   margin-right: 3rem;
   transition: all 0.3s linear;
   &:hover{
       color:$mainGreen;
   }
}

.active{
    color:$mainGreen;
}